<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewPersonServlet</servlet-name>
        <servlet-class>servlet.person.NewPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServerServlet</servlet-name>
        <servlet-class>servlet.server.NewServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeasedServerListServlet</servlet-name>
        <servlet-class>servlet.server.LeasedServerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>servlet.person.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServerServlet</servlet-name>
        <servlet-class>servlet.server.EditServerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPersonServlet</servlet-name>
        <url-pattern>/NewPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServerServlet</servlet-name>
        <url-pattern>/NewServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeasedServerListServlet</servlet-name>
        <url-pattern>/LeasedServerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/DetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServerServlet</servlet-name>
        <url-pattern>/EditServerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
