.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width: max-content;
    height: max-content;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.select {
    border-bottom: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
}

.form-select:focus {
    border-color: #A0C3D2;
    box-shadow: 0 0 0 0.25rem rgb(160 195 210 / 80%);
}

.form-select {
    width: 50%;
    margin-bottom: 2rem;
    text-align: center;
}

.selected-server li {
    text-align: center;
}

.modal-footer {
    width: 100%;
}

.links a {
    transition: background-color 0.2s ease-in-out;
    font-size: 1.2rem;
    text-decoration: none;
    color: #A0C3D2;
    border: 2px solid #A0C3D2;
    padding: 4px 12px;
    border-radius: 6px;
}

.links a:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #EEE8CE;
    color: #89B4C6;
    border-color: #89B4C6;
}

.item {
    border: 1px solid #EEE8CE;
    width: 20%;
    margin-bottom: 5rem;
}

.card-title {
    background-color: #EEE8CE;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 1.5rem 1rem;
}

.card-price {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    background-color: #89B4C6;
    padding: 1.2rem 1rem;
}

.card-price span,
.card-price small {
    color: #EEE8CE;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    line-height: 1.5rem;
    padding: 1rem 0.5rem;
    width: 100%;
}

li:nth-of-type(2n) {
    background-color: #F6F2E0;
}

.card-footer {
    margin-bottom: 1rem;
}

.btn-primary {
    width: 60%;
}

.btn-primary {
    background-color: #A0C3D2;
    border-color: #A0C3D2;
}

.btn-primary:hover {
    background-color: #89B4C6;
    border-color: #89B4C6;
}

.response {
    text-align: center;
}